<!DOCTYPE html>
<html>
<head>
	<title>Inicial</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="contenedor" class="uk-child-width-1-4@s" uk-grid="">
	{{ message }}
</div>


<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">

	var app = new Vue({
		el: '#contenedor',
		data: {
	    	message: 'Hello Vue!'
	  	},
	  	created: function () {

	  	},
	  	methods: {

	  	}
	});

</script>
</body>
</html>
