extends layout

block content
	h1 #{titulo} 
		if typeof modulo !== "undefined"
			<span>(#{modulo})</span>
		else
			<span></span>
	p Fecha: #{fecha}
	form(action="/modulo", name="elegir-modulo", method="POST")
		if typeof modulo !== "undefined"
			input(type="hidden", name="modulo" value="#{modulo}")
		else
			div(class="uk-margin")
				select(id="modulo", name="modulo", class="uk-select")
					option(value="Oficina_1_A") Oficina_1_A
					option(value="Oficina_1_B") Oficina_1_B
					option(value="Oficina_1_C") Oficina_1_C
					option(value="Oficina_1_D") Oficina_1_D
					option(value="Oficina_1_E") Oficina_1_E
					option(value="Oficina_2") Oficina_2
					option(value="Oficina_3_A") Oficina_3_A
					option(value="Oficina_3_B") Oficina_3_B
					option(value="Oficina_4") Oficina_4
					option(value="Oficina_5_A") Oficina_5_A
					option(value="Oficina_5_B") Oficina_5_B
					option(value="Oficina_5_C") Oficina_5_C
					option(value="Oficina_6_A") Oficina_6_A
					option(value="Oficina_6_B") Oficina_6_B
					option(value="Oficina_7") Oficina_7
					option(value="Oficina_8") Oficina_8
		div(class="uk-margin")
			select(id="tramite", name="tramite", class="uk-select")
				option(value="PODERES") PODERES
				option(value="ID_CONSULAR") ID_CONSULAR
				option(value="REGISTRO_CIVIL") REGISTRO_CIVIL
				option(value="VISAS") VISAS
				option(value="EMPADRONAMIENTO") EMPADRONAMIENTO
				option(value="PARTIDAS_DE_NACIMIENTO") PARTIDAS_DE_NACIMIENTO
				option(value="CEDULAS") CEDULAS
				option(value="VARIOS") VARIOS
		div(class="uk-margin")
			input(type="submit", value="Elegir", class="uk-button uk-button-primary")
		
    
