extends layout

block content
	//h1 Módulo: #{modulo.modulo}
	//h2 Trámite: #{modulo.tramite} 
		a(href="/cambiar", class="uk-button uk-button-primary") Cambiar Trámite	
	p(class="uk-text-large") Actualmente estás atendiendo al número: 
		//span(id="actual") #{modulo.datos.contador}
	hr 
	form(action="/modulo/test", name="elegir-modulo", method="POST")
		input(type="submit", name="contar", value="prev", class="uk-button")
		
		input(type="submit", name="contar", value="next", class="uk-button")
