<!DOCTYPE html>
<html>
<head>
	<title>Contador</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type="text/css" href='/stylesheets/uikit.css'></link>
	<link rel='stylesheet' type="text/css" href='/stylesheets/style.css'></link>
	<script src="../javascripts/jquery-3.2.1.min.js"></script>
	<script src="../javascripts/uikit.min.js"></script>
</head>
<body class="" >
	<div class="uk-navbar-container" uk-navbar="">
		<div class="uk-navbar-left">
			<a href="" class="uk-navbar-item uk-logo">
				<img src='../images/escudoArmas.bmp' class="uk-responsive-height"/>
			</a>
		</div>
		<div class="uk-navbar-center">
			<h2 class="uk-text-center")> Consulado General del Ecuador <br class="uk-hidden@l"/>en New York</h2>
		</div>
		<div class="uk-navbar-right">
			<a href="" class="uk-navbar-item uk-logo">
				<img src='../images/logoMinisterio.JPG' class="uk-responsive-height" />
			</a>
		</div>
	</div>

	<div class="uk-flex uk-flex-middle" uk-height-viewport="offset-bottom: 80px">
		<div style="margin: 0 auto;" class="uk-container-2 uk-margin-medium">
			<div id="app">
				<h2>{{modulo.modulo}}</h2>
				<p>Trámite: {{modulo.tramite}}
					<a href="/cambiar" class="uk-button uk-button-link"> Cambiar Trámite</a>
				</p>
				<p>Actualmente estás atendiendo al turno:
					<span id="actual"> {{modulo.contador}}</span>
				</p>
				<hr/>
				<button type="button" v-on:click="call_again" name="call_again" class="uk-button uk-button-secundary">Llamar de nuevo</button>				
				<button id="js-modal-confirm" type="button" v-on:click="contador" name="contador" class="uk-button uk-button-primary">Siguiente</button>
				<hr/>
				<div class="btn-terminar2">
					<button type="button" v-on:click="terminar" name="terminar" class="uk-button uk-button-text">Terminar</button>
				</div>				
			</div>
			<div class="uk-flex uk-flex-right")>
				<p>Fecha: <%= fechaAct %></p>
			</div>
		</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
    <script src="../javascripts/vue.min.js"></script>
    <script src="../javascripts/axios.min.js"></script>

	<script type="text/javascript">

		var ipServidor = "";

		fetch("/config.json").then(function(response) {
		  	var contentType = response.headers.get("content-type");
		  	if(contentType && contentType.indexOf("application/json") !== -1) {
		    	return response.json().then(function(json) {
			      	ipServidor = json.ip_servidor;
			    });
		  	} else {
		    	console.log("Oops, we haven't got JSON!");
		  	}
		});

		var channel = "COUNT_CHANNEL";
		var socket = io.connect(ipServidor, {reconnection: true});

		var app = new Vue({
			el: '#app',
			data: {
		    	modulo: {"modulo":"", "tramite":"", "estado":false, "perAtendidas":null, "contador":0, "fecha":null}
		  	},
		  	created: function () {

		  		this.actualizar();

		  		socket.on('connect', function(data){

		  			socket.emit("Creando_Modulo", { 'channel': channel});
		  			console.log("Conectando al servidor");

				});

				socket.on('modulo_' + channel, function(data){

		  			this.actualizar();

				}.bind(this));

		  	},
		  	methods: {
		  		call_again: function(e){
					e.preventDefault();

					if(this.modulo != null ){
						console.log("Enviando datos al server para volver a llamar.");
		  				socket.emit("call_again", { 'channel': channel, 'modulo': this.modulo });
		  			}
				},
				contador: function(e){
					e.preventDefault();

		           	UIkit.modal.confirm('¿El usuario ha sido atendido?', { labels: { ok: 'Si', cancel: 'No' }, stack: true}).then(function () {
			            if(this.modulo != null ){
							console.log("Enviando datos al server para aumentar el contador");
			  				socket.emit("aumentar", { 'channel': channel, 'modulo': this.modulo, 'atendido': true});
			  			}
		           	}, function () {
		               if(this.modulo != null ){
							console.log("Enviando datos al server para aumentar el contador");
			  				socket.emit("aumentar", { 'channel': channel, 'modulo': this.modulo, 'atendido': false});
			  			}
		           	});
		  					  			
				},
				terminar: function(e){
					e.preventDefault();

					if(this.modulo != null ){
						console.log("Enviando datos al server para terminar el contador");
		  				socket.emit("terminar", { 'channel': channel, 'modulo': this.modulo });
		  			}
				},
				actualizar: function(){
					axios.get('/show/modulo')
                    .then(function (response) {

                    	console.log("Recibiendo modulo con Axios: ");
                    	console.log(response.data);
                       	this.modulo = response.data;

                    }.bind(this));
				}
		  	}
		});

	</script>
</body>
</html>
