<!DOCTYPE html>
<html>
<head>
	<title>Reports</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%if (modulos != "") { %>	

			<%= modulos %>

	<% } %>

	
</body>
</html>