body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/fondo_modulo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.uk-container-2{
    background-color: rgba(255,255,255,0.7);
    padding: 20px 30px;
}

.container{
    /*width: 100%;
    position: absolute;
    bottom: 0;*/
}

#contenedor{
    /*width: 100%;
    position: absolute;
    bottom: 0;*/
}

.uk-grid-small > * {
    padding-left: 5px;
}

.uk-card-default{
  background-color: #fff;
}

.uk-card-body{
  padding: 20px 10px;
}

.uk-card-body h4{
  color: #fff;
  word-break: break-all;
}

.uk-card-footer{
    padding: 10px 20px;
}


.ID_CONSULAR .uk-card-body{
  background-color: #0294D1;
}

.ID_CONSULAR .uk-card-body h4{
  color: #fff;
}

.ID_CONSULAR .uk-card-footer{
    background-color: #055AAF;
    color: #fff;
}


.btn-terminar{
  position: absolute;
  right: 0;
  top:0;
}

.bounce-enter .uk-card-body{
    animation: bounce-in 2.5s;	
}

.bounce-enter-active .uk-card-body{

  animation: bounce-in 2.5s;
}
.bounce-leave-active .uk-card-body{
  animation: bounce-in 2.5s reverse;
}
.bounce-leave .uk-card-body{
  animation: bounce-in 2.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
    background-color: #fff;
  }
  25% {
    background-color: #7AFF8E;
  }
  50% {
    background-color: #fff;
  }
  75% {
    background-color: #7AFF8E;
  }
  100% {
    transform: scale(1);
    background-color: #fff;
  }
}