body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/fondo_modulo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.uk-container-2{
    background-color: rgba(255,255,255,0.7);
    padding: 20px 30px;
}

.container{
    /*width: 100%;
    position: absolute;
    bottom: 0;*/
}

#contenedor{
    /*width: 100%;
    position: absolute;
    bottom: 0;*/
}

.uk-grid-small > * {
    padding-left: 5px;
}

.uk-card-default{
  background-color: #fff;
}

.uk-card-body{
  padding: 20px 10px;
}

.uk-card-body h4{
  word-break: break-all;
}

.uk-card-footer{
    padding: 10px 20px;
}


.ID .uk-card-body{
  background-color: #0294D1;
}

.ID .uk-card-body h4{
  color: #fff;
}

.ID .uk-card-footer{
    background-color: #055AAF;
    color: #fff;
}


.PODERES .uk-card-body{
  background-color: #098D31;
}

.PODERES .uk-card-body h4{
  color: #fff;
}

.PODERES .uk-card-footer{
    background-color: #06561E;
    color: #fff;
}

.REGISTRO .uk-card-body{
  background-color: #72480A;
}

.REGISTRO .uk-card-body h4{
  color: #fff;
}

.REGISTRO .uk-card-footer{
    background-color: #5E3C08;
    color: #fff;
}


.VISAS .uk-card-body{
  background-color: #BC1212;
}

.VISAS .uk-card-body h4{
  color: #fff;
}

.VISAS .uk-card-footer{
    background-color: #6D0B0B;
    color: #fff;
}


.EMPADRONAMIENTO .uk-card-body{
  background-color: #0E2E96;
}

.EMPADRONAMIENTO .uk-card-body h4{
  color: #fff;
}

.EMPADRONAMIENTO .uk-card-footer{
    background-color: #0C267C;
    color: #fff;
}


.PARTIDAS .uk-card-body{
  background-color: #74750F;
}

.PARTIDAS .uk-card-body h4{
  color: #fff;
}

.PARTIDAS .uk-card-footer{
    background-color: #64650D;
    color: #fff;
}


.CEDULAS .uk-card-body{
  background-color: #14A1AE;
}

.CEDULAS .uk-card-body h4{
  color: #fff;
}

.CEDULAS .uk-card-footer{
    background-color: #0B585F;
    color: #fff;
}


.VARIOS .uk-card-body{
  background-color: #1259CA;
}

.VARIOS .uk-card-body h4{
  color: #fff;
}

.VARIOS .uk-card-footer{
    background-color: #0D4091;
    color: #fff;
}


.btn-terminar{
  position: absolute;
  right: 0;
  top:0;
}

.bounce-enter .uk-card-body{
    animation: bounce-in 2.5s;	
}

.bounce-enter-active .uk-card-body{

  animation: bounce-in 2.5s;
}
.bounce-leave-active .uk-card-body{
  animation: bounce-in 2.5s reverse;
}
.bounce-leave .uk-card-body{
  animation: bounce-in 2.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
    background-color: #fff;
  }
  25% {
    background-color: #7AFF8E;
  }
  50% {
    background-color: #fff;
  }
  75% {
    background-color: #7AFF8E;
  }
  100% {
    transform: scale(1);
    background-color: #fff;
  }
}